.card {
    display: flex;
    flex-direction: column; /* Располагаем контент вертикально */
    height: 500px; /* Фиксированная высота карточки */
    width: 400px; /* Фиксированная ширина */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.card-header {
    height: 200px; /* Фиксированная высота для изображения */
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.card-body {*/
/*    display: flex; !* превращает элемент в flex-контейнер, что позволяет управлять расположением дочерних элементов более гибко*!*/
/*    flex-direction: column; !* устанавливает направление расположения элементов вертикально (сверху вниз) *!*/
/*    justify-content: space-between; !*распределяет пространство между элементами так, что первый элемент прилипает к верху, последний — к низу, а остальное пространство распределяется между ними*!*/
/*    padding: 15px; !*создает отступ в 15 пикселей со всех сторон элемента*!*/
/*    height: 100%; !* Занимает оставшееся пространство *!*/
/*}*/

.card-title {
    margin: 0;
}

.card-subtitle {
    margin: 0;
}

.card-text {
    flex: 1; /* Занимает оставшееся пространство */
    overflow: hidden; /*скрывает любой контент, который выходит за границы элемента*/
    text-overflow: ellipsis; /*добавляет многоточие (…) в конце обрезанного текста*/
    line-height: 1.5; /*устанавливает межстрочное расстояние, делая текст более читабельным*/
}

.custom-button {
    width: 150px; /* задаем ширину */
    height: 50px;  /* задаем высоту */
    font-size: 18px; /* размер текста */
    margin: 10px auto; /* выравнивание по центру */
    padding: 0 20px;
}

