{% extends 'catalog/base.html' %}

{% block title %} Форма для блога {% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        {% if object %}
            Редактирование блога {{ object.title }}
        {% else %}
            Создание нового блога
        {% endif %}
    </h1>
</div>
<div class="container ">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if object %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'blog:blog_detail' object.pk %}" class="btn btn-primary">Отменить</a>
        {% else %}
            <button type="submit" class="btn btn-primary">Создать</button>
            <a href="{% url 'blog:blog_list' %}" class="btn btn-primary">Отмена</a>
        {% endif %}
    </form>
</div>

{% endblock %}