<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_detail</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css">
</head>
<body>
    <h1>Информация(detail) о продукте</h1>

    <p>Наименование продукта: {{product.title}}</p>
    <p>Картинка продукта: <img src="{{product.image.url}}" alt="Рис"></p>
    <p>Информация о продукте: {{product.description }}</p>
    <p>Цена: {{ product.purchase_price}}</p>
    <p>Дата добавления продукта: {{product.created_at}}</p>
    <p>Дата обновления продукта: {{product.updated_at}}</p>
    <!--<p>Сгенерированный путь к изображению: {{ product.image.url }}</p>-->
    <!--<img src="/media/photos/Rice.jpg" alt="Рис">-->



<script type="text/javascript" src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>